/* รูปแบบส่วนหัวเว็บ */
.header {
    background-color: #17784fe2;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: #fff;
    margin: 0;
}

/* รูปแบบของลิงก์ (เช่น Home page) */
.pro {
    background-color: #ff6200cd;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
}

/* รูปแบบของลิงก์เมื่อเมาส์ไปชี้ (hover) */
a:hover {
    color: #000000;
}

/* รูปแบบของกล่องแสดงข้อมูลล็อกอิน */
fieldset {
    border-radius: 5px;
    border: 1px solid #000000cd;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin: auto;
    background-color: #ffffff;
}

/* รูปแบบของแบบฟอร์มและช่องกรอกข้อมูล */
.form {
    margin-right: 10px;
}

/* รูปแบบของตัวหนังสือและข้อความตรงกลาง */
.center {
    text-align: center;
    border-radius: 3px;
    background-color: #17784fe2;
    color: #ffffff;
    font-family: Arial, sans-serif;
    width: 40%;
    margin: auto;
    padding: 10px;
}

/* รูปแบบของพื้นหลังของหน้าเว็บ */
.body {
    background-image: url('4k.jpg');
}

/* รูปแบบของตัวอินพุต (input) */
input {
    margin: auto;
}

/* รูปแบบส่วนท้ายของหน้าเว็บ */
.footer {
    background-color: #17784fe2;
    padding: 10px 0;
}

/* รูปแบบของปุ่ม */
.button {
    background-color: #ff6200cd;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    margin-left: 10px;
}

/* รูปแบบของปุ่มเมื่อเมาส์ไปชี้ (hover) */
.button:hover {
    background-color: #000;
}
